<h3>
  <%= t('activities') %>
  <%= render 'util/btn/new', text: t('activity'), btn_class: 'btn-xs', url: new_event_activity_path(@event) %>
</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="col-2-btns"></th>
      <th><%= t('name') %></th>
      <th><%= t('workload_desc') %></th>
    </tr>
  </thead>
  <tbody>
    <% if @event.activities.empty? %>
      <tr class="text-center">
        <td colspan="99"><%= t('empty_records') %></td>
      </tr>
    <% else %>
      <% @activities.each do |activity| %>
        <tr>
          <td>
            <%= render 'util/btn/edit', url: edit_event_activity_path(@event, activity) %>
            <%= render 'util/btn/destroy', record: [@event, activity] %>
          </td>
          <td><%= activity.name %></td>
          <td><%= activity.workload %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
