<%= form_for([@event, @activity]) do |f| %>
  <%= render 'util/error_messages', model: @activity %>

  <div class="form-group">
    <%= f.label :name, t('name')+'*' %>
    <%= f.text_field :name, class: 'form-control', placeholder: t('name'), required: true, autofocus: true %>
  </div>

  <%= f.submit @activity.new_record? ? t('create') : t('update'), class: 'btn btn-primary' %>
<% end %>
