<%= form_for([@event, @activity]) do |f| %>
  <%= render 'util/error_messages', model: @activity %>

  <div class="form-group">
    <%= f.label :name, t('name')+'*' %>
    <%= f.text_field :name, class: 'form-control', placeholder: t('name'), required: true, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :workload, t('workload_desc') %>
    <%= f.text_field :workload, class: 'form-control', placeholder: t('workload') %>
  </div>

  <div class="form-group">
    <%= f.label :people_limit, t('people_limit') %>
    <%= f.text_field :people_limit, class: 'form-control', placeholder: t('people_limit') %>
  </div>

  <%= f.submit @activity.new_record? ? t('create') : t('update'), class: 'btn btn-primary' %>
<% end %>
